.layout-home {
  padding-top: 5rem;
}

.all-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.write-some {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  color: #000;
}
